In [151]:
import pandas as pd
import numpy as np

In [152]:
pd.set_option('display.max_columns',None)

In [153]:
df = pd.read_csv('mumbai_flats_cleaned1.csv')
df.head(2)

,flat_type,price,flat_price,address,location,location1,buildup_area,buildupArea_sqft,avg_price_sqft,avg_price_thousands,age_of_property,new_age,which_floor,furnishing,project_name,brokrage,carpet_area,bedrooms,bathrooms,balcony,parking,about_property
0,3 BHK Flat,3.95 Cr,3.95,"Runwal Forest Tower 5 To 8, Kanjurmarg West, M...",Kanjurmarg West,Kanjurmarg West,1550 sq.ft,1550,₹25.48 K/sq.ft,25480.0,3 Year Old,3,Higherof 50 floors,Fully Furnished,Runwal Forest Tower 5 To 8,4.0 LacsAccess Zero Brokerage Properties,1130 sq.ft,3,2,1,2 Covered Parking,Exclusive 3 bhk with 3 bathroom apartment ava...
1,1 BHK Flat,19.0 L,0.19,"Ananta Vardhman Nagar, Tembhode, Palghar, Mumbai",Palghar,Palghar,630 sq.ft,630,₹3.02 K/sq.ft,3020.0,3 Year Old,3,Middleof 4 floors,Unfurnished,Ananta Vardhman Nagar,No ChargeAccess Zero Brokerage Properties,390 sq.ft,1,1,2,1 Open Parking,"1 BHK Flat for sale in Palghar, Mumbai - conta..."

In [154]:
df.drop(columns=['price','address','location','buildup_area','avg_price_sqft'],inplace=True)

In [155]:
df.drop(columns=['project_name','brokrage','carpet_area','about_property'],inplace=True)

In [156]:
df.head()

,flat_type,flat_price,location1,buildupArea_sqft,avg_price_thousands,age_of_property,new_age,which_floor,furnishing,bedrooms,bathrooms,balcony,parking
0,3 BHK Flat,3.95,Kanjurmarg West,1550,25480.0,3 Year Old,3,Higherof 50 floors,Fully Furnished,3,2,1,2 Covered Parking
1,1 BHK Flat,0.19,Palghar,630,3020.0,3 Year Old,3,Middleof 4 floors,Unfurnished,1,1,2,1 Open Parking
2,1 BHK Flat,0.73,Mira Road East,580,12590.0,1 Years Old,1,Lowerof 25 floors,Semi Furnished,1,2,2,No Parking
3,1 BHK Flat,1.10,Dahisar East,410,26830.0,1 Years Old,1,Higherof 35 floors,Semi Furnished,1,2,1,2 Covered Parking
4,3 BHK Flat,2.25,others,1052,21390.0,1 Years Old,1,Lowerof 26 floors,Semi Furnished,3,2,3,1 Covered Parking

In [157]:
df['bedrooms'].value_counts()

bedrooms
2                        3565
1                        2882
3                        2435
4                         642
5                         114
No Balcony                 71
4.0                        50
6                          47
-                          15
5.0                         9
7                           4
6.0                         4
3.0                         2
More than a month ago       1
2.0                         1
Name: count, dtype: int64

In [158]:
df[df['bedrooms'] == 'More than a month ago']

,flat_type,flat_price,location1,buildupArea_sqft,avg_price_thousands,age_of_property,new_age,which_floor,furnishing,bedrooms,bathrooms,balcony,parking
4031,4 BHK Flat,5.0,Chembur,2500,20000.0,unknown,unknown,NaN,Fully Furnished,More than a month ago,NaN,NaN,-

In [159]:
df.drop(index=4031,inplace=True)

In [160]:
a = df[df['bedrooms'] == '-'].index

In [161]:
df.drop(index=a,inplace=True)

In [162]:
df['bedrooms'].value_counts()

bedrooms
2             3565
1             2882
3             2435
4              642
5              114
No Balcony      71
4.0             50
6               47
5.0              9
7                4
6.0              4
3.0              2
2.0              1
Name: count, dtype: int64

In [163]:
b = df[df['bedrooms'] == 'No Balcony'].index

In [164]:
df.drop(index=b,inplace=True)

In [165]:
df['bedrooms'] = pd.to_numeric(df['bedrooms']).astype('int')

In [166]:
df['bedrooms'].value_counts()

bedrooms
2    3566
1    2882
3    2437
4     692
5     123
6      51
7       4
Name: count, dtype: int64

In [167]:
df['bathrooms'].value_counts()

bathrooms
2                        5322
3                        2019
1                        1614
4                         495
5                         103
More than a month ago      45
-                          30
6                          28
7                           9
26 days ago                 7
15 days ago                 7
Just now                    7
4.0                         5
2 days ago                  5
17 days ago                 5
16 days ago                 4
3 days ago                  4
19 days ago                 4
12 days ago                 4
18 days ago                 3
23 days ago                 3
6 days ago                  3
29 days ago                 3
11 days ago                 3
3.0                         2
5 days ago                  2
9 days ago                  2
22 days ago                 2
20 days ago                 2
10 days ago                 2
25 days ago                 2
8 days ago                  2
5.0                         2
8                           1
4 days ago                  1
27 days ago                 1
30 days ago                 1
24 days ago                 1
Name: count, dtype: int64

In [168]:
a = df[df['bathrooms'] == 'More than a month ago'].index

In [169]:
df.drop(index=a,inplace=True)

In [170]:
df['bathrooms'].value_counts()

bathrooms
2              5322
3              2019
1              1614
4               495
5               103
-                30
6                28
7                 9
26 days ago       7
15 days ago       7
Just now          7
4.0               5
2 days ago        5
17 days ago       5
16 days ago       4
3 days ago        4
19 days ago       4
12 days ago       4
18 days ago       3
23 days ago       3
6 days ago        3
29 days ago       3
11 days ago       3
3.0               2
5 days ago        2
9 days ago        2
22 days ago       2
20 days ago       2
10 days ago       2
25 days ago       2
8 days ago        2
5.0               2
8                 1
4 days ago        1
27 days ago       1
30 days ago       1
24 days ago       1
Name: count, dtype: int64

In [171]:
b = df[df['bathrooms'] == '-'].index

In [172]:
df.drop(index=b,inplace=True)

In [173]:
df['bathrooms'].value_counts()

bathrooms
2              5322
3              2019
1              1614
4               495
5               103
6                28
7                 9
26 days ago       7
Just now          7
15 days ago       7
4.0               5
17 days ago       5
2 days ago        5
19 days ago       4
16 days ago       4
12 days ago       4
3 days ago        4
11 days ago       3
29 days ago       3
18 days ago       3
6 days ago        3
23 days ago       3
25 days ago       2
8 days ago        2
5 days ago        2
10 days ago       2
20 days ago       2
22 days ago       2
9 days ago        2
3.0               2
5.0               2
27 days ago       1
4 days ago        1
8                 1
30 days ago       1
24 days ago       1
Name: count, dtype: int64

In [174]:
df = df[(df['bathrooms'] == "1") | (df['bathrooms'] == "2") |(df['bathrooms'] == "3") | (df['bathrooms'] == "4") | (df['bathrooms'] == "5") |(df['bathrooms'] == "6") | (df['bathrooms'] == "7") | (df['bathrooms'] == "8") | (df['bathrooms'] == "4.0")]

In [175]:
df['bathrooms'] = pd.to_numeric(df['bathrooms']).astype(int)

In [176]:
df['bathrooms'].value_counts()

bathrooms
2    5322
3    2019
1    1614
4     500
5     103
6      28
7       9
8       1
Name: count, dtype: int64

In [177]:
df['balcony'].value_counts()

balcony
No Balcony               4794
1                        1330
2                         987
3                         786
More than a month ago     414
4                         177
Just now                   78
2 days ago                 60
9 days ago                 53
12 days ago                51
29 days ago                46
11 days ago                42
4 days ago                 41
10 days ago                38
15 days ago                38
5                          38
8 days ago                 36
3 days ago                 36
19 days ago                35
6 days ago                 35
28 days ago                34
22 days ago                33
16 days ago                31
20 days ago                31
5 days ago                 30
25 days ago                29
18 days ago                29
17 days ago                28
13 days ago                27
-                          25
21 days ago                23
26 days ago                22
24 days ago                22
7 days ago                 20
27 days ago                20
14 days ago                20
Full                       19
30 days ago                18
23 days ago                13
6                           4
7                           3
Name: count, dtype: int64

In [178]:
df['balcony'] = df['balcony'].str.replace('No Balcony','0')

In [179]:
df['balcony'].value_counts().sample(10)

balcony
26 days ago      22
19 days ago      35
11 days ago      42
13 days ago      27
5 days ago       30
1              1330
Full             19
16 days ago      31
14 days ago      20
7                 3
Name: count, dtype: int64

In [180]:
a = df[df['balcony'] == '-'].index

In [181]:
df.drop(index=a,inplace=True)

In [182]:
df['balcony'].value_counts().sample(10)

balcony
More than a month ago    414
14 days ago               20
28 days ago               34
5                         38
8 days ago                36
16 days ago               31
4                        177
Just now                  78
12 days ago               51
18 days ago               29
Name: count, dtype: int64

In [183]:
def deal_with_balcony(value):
    if len(value) == 1:
        return float(value)
    else:
        return np.nan

In [185]:
df['balcony'] = df['balcony'].apply(deal_with_balcony)

In [186]:
df

,flat_type,flat_price,location1,buildupArea_sqft,avg_price_thousands,age_of_property,new_age,which_floor,furnishing,bedrooms,bathrooms,balcony,parking
0,3 BHK Flat,3.95,Kanjurmarg West,1550,25480.0,3 Year Old,3,Higherof 50 floors,Fully Furnished,3,2,1.0,2 Covered Parking
1,1 BHK Flat,0.19,Palghar,630,3020.0,3 Year Old,3,Middleof 4 floors,Unfurnished,1,1,2.0,1 Open Parking
2,1 BHK Flat,0.73,Mira Road East,580,12590.0,1 Years Old,1,Lowerof 25 floors,Semi Furnished,1,2,2.0,No Parking
3,1 BHK Flat,1.10,Dahisar East,410,26830.0,1 Years Old,1,Higherof 35 floors,Semi Furnished,1,2,1.0,2 Covered Parking
4,3 BHK Flat,2.25,others,1052,21390.0,1 Years Old,1,Lowerof 26 floors,Semi Furnished,3,2,3.0,1 Covered Parking
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9834,1 BHK Flat,1.15,others,750,15330.0,unknown,unknown,unknown,NaN,1,1,2.0,No Parking
9835,2 BHK Flat,0.65,Mira Road East,625,10400.0,20 Year Old,20,Lowerof 4 floors,Semi Furnished,2,2,0.0,No Parking
9837,1 BHK Flat,0.20,Naigaon East,280,7140.0,10 Year Old,10,Lowerof 7 floors,Semi Furnished,1,1,0.0,No Parking
9838,2 BHK Flat,10.50,Cumballa Hill,1170,89740.0,45 Year Old,45,Lowerof 9 floors,Unfurnished,3,1,NaN,1 Covered Parking
9839,1 BHK Flat,0.97,Tardeo,315,30790.0,unknown,unknown,NaN,Semi Furnished,1,1,0.0,1 Open Parking

In [188]:
df['parking'].value_counts()

parking
1 Covered Parking               3295
1 Open Parking                  2557
2 Covered Parking               1131
1 Covered and 1 Open Parking    1063
No Parking                       840
3 Covered Parking                225
2 Covered and 1 Open Parking     154
2 Open Parking                   103
1 Covered and 2 Open Parking      44
4 Covered Parking                 38
2 Covered and 2 Open Parking      37
3 Covered and 1 Open Parking      21
3 Covered and 2 Open Parking      16
3 Open Parking                    13
3 Covered and 3 Open Parking       9
4 Open Parking                     4
5 Covered Parking                  3
2 Covered and 3 Open Parking       3
4 Covered and 4 Open Parking       2
6 Covered Parking                  2
8 Covered Parking                  2
3 Covered and 4 Open Parking       2
1 Covered and 3 Open Parking       2
4 Covered and 1 Open Parking       1
4 Covered and 2 Open Parking       1
5 Covered and 1 Open Parking       1
2 Covered and 4 Open Parking       1
1 Covered and 5 Open Parking       1
Name: count, dtype: int64

In [189]:
def parking(value):
    if value == 'No Parking':
        return 'no'
    else:
        return 'yes'

In [193]:
df['parking'] = df['parking'].apply(parking)

In [196]:
df.head(2)

,flat_type,flat_price,location1,buildupArea_sqft,avg_price_thousands,age_of_property,new_age,which_floor,furnishing,bedrooms,bathrooms,balcony,parking
0,3 BHK Flat,3.95,Kanjurmarg West,1550,25480.0,3 Year Old,3,Higherof 50 floors,Fully Furnished,3,2,1.0,yes
1,1 BHK Flat,0.19,Palghar,630,3020.0,3 Year Old,3,Middleof 4 floors,Unfurnished,1,1,2.0,yes

In [199]:
df.to_csv('mumbai_flats_cleaned_v2.csv')