In [450]:
import pandas as pd
import numpy as np

In [451]:
df = pd.read_csv('mumbai_flats.csv')

In [452]:
df.sample(5)

,flat_type,price,address,buildup_area,avg_price_sqft,age_of_property,possesion_status,which_floor,facing,furnicing,project_name,brokrage,carpet_area,bedrooms,bathrooms,balcony,parking,about_property
9147,4 BHK Flat,14.5 Cr,"Lodha World Crest, Lower Parel, Mumbai",2600 sq.ft,₹55.77 K/sq.ft,5 Year Old,Ready to move,Higherof 60 floors,Unfurnished,NaN,Lodha World Crest,14.5 LacsAccess Zero Brokerage Properties,2500 sq.ft,4,3,4,3 Covered Parking,A rare living experience on the Mumbai Mile\nL...
9856,3 BHK Flat,1.35 Cr,"SK Imperial Heights, Penkarpada, Mira Road Eas...",1300 sq.ft,₹10.38 K/sq.ft,1 Years Old,Ready to move,Higherof 22 floors,Unfurnished,NaN,SK Imperial Heights,1.4 LacsAccess Zero Brokerage Properties,911 sq.ft,3,2,3,1 Covered Parking,Looking for a 3 BHK Flat for sale in Mumbai? Y...
3270,1 BHK Flat,92.0 L,"Dheeraj Enclave, Daulat Nagar, Borivali East, ...",550 sq.ft,₹16.73 K/sq.ft,18 Year Old,Ready to move,Lowerof 8 floors,Unfurnished,NaN,Dheeraj Enclave,"92,000Access Zero Brokerage Properties",420 sq.ft,1,2,No Balcony,No Parking,Its very good location near all required thing...
8710,3 BHK Flat,4.28 Cr,"Ashford Royale, Sarvodaya Nagar, Bhandup West,...",1978 sq.ft,₹21.64 K/sq.ft,1 Years Old,Ready to move,Lowerof 36 floors,Semi Furnished,NaN,Ashford Royale,4.3 Lacs(Negotiable)Access Zero Brokerage Prop...,1368 sq.ft,3,2,1,2 Covered and 1 Open Parking,AVAILABLE 3 BHK FLAT FOR SALE WITH DECK BALC...
1487,1 BHK Flat,33.5 L,"Shivani Gemini CHSL, Lakshmiben Chedda Nagar, ...",610 sq.ft,₹5.49 K/sq.ft,1 Years Old,Ready to move,Middleof 12 floors,Semi Furnished,NaN,Shivani Gemini CHSL,"67,000Access Zero Brokerage Properties",400 sq.ft,1,1,2,1 Open Parking,1 Bhk Flat For sale Nalasopara west walking Di...

### The value of furnishing is in facing column

In [453]:
df.shape

(9956, 18)

In [454]:
df.isnull().sum()

flat_type              1
price                  2
address                1
buildup_area           1
avg_price_sqft         1
age_of_property        1
possesion_status       2
which_floor           49
facing              1984
furnicing           9955
project_name           2
brokrage               2
carpet_area            2
bedrooms               2
bathrooms              3
balcony              216
parking                2
about_property         2
dtype: int64

In [455]:
df['flat_type'].unique()

array(['3 BHK Flat', '1 BHK Flat', '2 BHK Flat', '4 BHK Flat',
       '7 BHK Flat', '1.5 BHK Flat', '3 BHK Independent Builder Floor',
       '1 BHK Independent House', '5 BHK Independent Builder Floor',
       '6 BHK Flat', '3 BHK Villa', '5 BHK Flat',
       '4 BHK Independent House', '4 BHK Villa', nan, '1 RK Flat',
       '2 BHK Independent House', '3 BHK Independent House',
       '5+ BHK Flat', '1 BHK Independent Builder Floor',
       '3.99 Cr - 10.15 Cr', '4 BHK Independent Builder Floor',
       '5 BHK Villa', '6 BHK Villa', '10 BHK Independent House',
       'Agricultural Land', '1 RK Independent House'], dtype=object)

In [456]:
# we want only BHK flats
df = df[df['flat_type'].isin(['1 BHK Flat', '2 BHK Flat', '3 BHK Flat','4 BHK Flat','5 BHK Flat','6 BHK Flat','7 BHK Flat'])]

In [457]:
df['flat_type'].unique()

array(['3 BHK Flat', '1 BHK Flat', '2 BHK Flat', '4 BHK Flat',
       '7 BHK Flat', '6 BHK Flat', '5 BHK Flat'], dtype=object)

In [458]:
df['price'].value_counts().sample(14)

price
2.99 Cr      8
9.25 Cr     17
50.0 L      27
32.0 Cr      1
9.2 Cr       4
12.0 Cr     22
4.0 Cr      70
6.11 Cr      2
59.29 L      1
22.5 Cr      1
8.75 Cr      7
2.01 Cr      2
14.25 Cr     1
4.55 Cr      5
Name: count, dtype: int64

In [459]:
# make a function to covert the Lakhs price in cr
def price_converter(price):
    if 'L' in price:
        lakhs = price.split(" ")[0]
        return round(float(lakhs)/100,2)
    else:
        return round(float(price.split(" ")[0]),2)

In [460]:
price_converter('3.94 cr')

3.94

In [461]:
flat_price = df['price'].str.strip().apply(price_converter)
df.insert(2,'flat_price',flat_price)

In [462]:
df.sample(6)

,flat_type,price,flat_price,address,buildup_area,avg_price_sqft,age_of_property,possesion_status,which_floor,facing,furnicing,project_name,brokrage,carpet_area,bedrooms,bathrooms,balcony,parking,about_property
6333,2 BHK Flat,45.0 L,0.45,"Lakshmiben Chedda Nagar, Nalasopara West, Mumbai",750 sq.ft,₹6 K/sq.ft,9 Year Old,Ready to move,Higherof 7 floors,Semi Furnished,NaN,Vini Heights CHSL,"90,000Access Zero Brokerage Properties",550 sq.ft,2,2,2,1 Open Parking,2 bhk flat for sale. Vini height. Chheda nagar...
6617,2 BHK Flat,1.6 Cr,1.60,"Near sryas cinema ghatkopar West , Siddharth N...",850 sq.ft,₹18.82 K/sq.ft,5 Year Old,Ready to move,Middleof 17 floors,NaN,NaN,1.6 LacsAccess Zero Brokerage Properties,1.6 Cr,2,2,No Balcony,More than a month ago,1 Covered and 1 Open Parking,"2 BHK Flat for sale in Ghatkopar West, Mumbai ..."
3641,4 BHK Flat,6.8 Cr,6.80,"Oberoi Enigma and Eternia, Sambhaji Nagar, Mul...",2925 sq.ft,₹23.25 K/sq.ft,Ready to move,North-East facing,North-East facingFacing,NaN,NaN,Oberoi Enigma and Eternia,6.8 LacsAccess Zero Brokerage Properties,2170 sq.ft,4,5,1,3 Covered and 1 Open Parking,4 bhk apartment for sale in one of premium com...
8515,3 BHK Flat,4.75 Cr,4.75,"Lodha Grandeur, Dadar West, Mumbai",2187 sq.ft,₹21.72 K/sq.ft,10 Year Old,Ready to move,Middleof 25 floors,Unfurnished,NaN,Lodha Grandeur,4.8 LacsAccess Zero Brokerage Properties,1458 sq.ft,3,2,1,1 Covered Parking,"Lodha Grandeur in Prabhadevi, Mumbai South by ..."
6342,2 BHK Flat,1.65 Cr,1.65,"MHADA Colony 20, Powai, Mumbai",900 sq.ft,₹18.33 K/sq.ft,10 Year Old,Ready to move,Middleof 15 floors,Unfurnished,NaN,Panchvati,1.6 LacsAccess Zero Brokerage Properties,750 sq.ft,2,2,No Balcony,1 Open Parking,2 BHK Flat for sale in Mumbai. This property i...
9886,2 BHK Flat,1.4 Cr,1.40,"White Pearl CHS, Kazipura, Nagpada, Mumbai",760 sq.ft,₹18.42 K/sq.ft,1 Years Old,Ready to move,Higherof 23 floors,Unfurnished,NaN,No ChargeAccess Zero Brokerage Properties,1.4 Cr,2,2,No Balcony,More than a month ago,No Parking,Check out this 2 BHK Flat for sale in Kamathip...

In [463]:
df['address'].value_counts()

address
Oberoi Enigma and Eternia, Sambhaji Nagar, Mulund West, Mumbai    58
I C Colony, Borivali West, Mumbai                                 49
Aarey Colony, Goregaon East, Mumbai                               46
Bandra West, Mumbai                                               42
Sunteck West World, Naigaon East, Mumbai                          42
                                                                  ..
Transcon Tirumala Sky, Govardhan Nagar, Mulund West, Mumbai        1
Vallabh NagarSwastik Nagar, Juhu, Mumbai                           1
Lokhandwala Lady Ratan Tower, Hanuman Nagar, Worli, Mumbai         1
JS APRTMENT, Juhu Vile Parle Development Scheme, Juhu, Mumbai      1
Angan, Rahul Nagar, Mulund West, Mumbai                            1
Name: count, Length: 4528, dtype: int64

In [464]:
# extract the location and insert in 4th position
location = df['address'].str.strip().str.split(',').str[-2].str.strip()
df.insert(4,'location',location)

In [465]:
df['location'].unique()

array(['Kanjurmarg West', 'Palghar', 'Mira Road East', 'Dahisar East',
       'Ramabai Ambedkar Nagar', 'Anushakti Nagar', 'Kanjurmarg East',
       'Byculla', 'Kurla West', 'Mulund West', 'Sion', 'Powai',
       'Lower Parel', 'Borivali East', 'Malad West', 'Virar West',
       'Goregaon West', 'Naigaon East', 'Vasai East', 'Andheri West',
       'Vikhroli East', 'Borivali West', 'Goregaon East', 'Dadar East',
       'Dadar West', 'Wadala East', 'Govandi', 'Saphale', 'Mulund East',
       'Santacruz East', 'Chembur', 'Kandivali East', 'Juhu',
       'Vile Parle East', 'Jogeshwari West', 'Nalasopara West', 'Worli',
       'Kandivali West', 'Prabhadevi', 'Matunga East', 'Bandra East',
       'Parel', 'Ghatkopar East', 'Andheri East', 'Jogeshwari East',
       'Dahisar West', 'Matunga West', 'Bhandup West', 'Khar West',
       'Ghatkopar West', 'Bhayandar East', 'Mumbai Central', 'Wadala',
       'Bandra West', 'Santacruz West', 'Malad East', 'Chinchpokli',
       'Nalasopara East', 'Vile Parle West', 'Boisar', 'Vikhroli West',
       'Kurla East', 'Thane West', 'Mazgaon', 'Naigaon West', 'Mahim',
       'Vasai West', 'Bhandup East', 'Mankhurd', 'Fort', 'Sakinaka',
       'Mahalakshmi', 'Malabar Hill', 'Kamathipura', 'Asalpha',
       'Khar East', 'Agripada', 'Trombay', 'Madanpura', 'Bhayandar West',
       'Dharamveer Nagar', 'Cumballa Hill', 'Virar East', 'Kalbadevi',
       'Girgaon', 'Tardeo', 'Colaba', 'Cuffe Parade', 'Sewri', 'Madh',
       'Churchgate', 'Gamdevi', 'Jacob Circle', 'Makane Kapase',
       'Ghodbander', 'Uttan', 'Marine Lines', 'Umerkhadi',
       'Mira Road West', 'Nagpada'], dtype=object)

##### 4 columns of ramabai, 3columns of Anushakti Nagar, 4 columns of Saphale, 3columns of fort Fort, 3  columns of Mankhurd , 2 columns of Asalpha , 4 columns of Dharamveer Nagar, 4 flats of Kalbadevi,4 flats of Gamdevi, 7 flats of Jacob Circle , 1 flat of Makane Kapase, 2 flat of Ghodbander, 1 flat of Uttan, 1 flat of Umerkhadi, 1 flat of Nagpada, 2 flats of Trombay

In [466]:
df[df['location'] == 'Nagpada']

,flat_type,price,flat_price,address,location,buildup_area,avg_price_sqft,age_of_property,possesion_status,which_floor,facing,furnicing,project_name,brokrage,carpet_area,bedrooms,bathrooms,balcony,parking,about_property
9886,2 BHK Flat,1.4 Cr,1.4,"White Pearl CHS, Kazipura, Nagpada, Mumbai",Nagpada,760 sq.ft,₹18.42 K/sq.ft,1 Years Old,Ready to move,Higherof 23 floors,Unfurnished,NaN,No ChargeAccess Zero Brokerage Properties,1.4 Cr,2,2,No Balcony,More than a month ago,No Parking,Check out this 2 BHK Flat for sale in Kamathip...

In [467]:
# replace the minor location to others
def replace_location_name(location):
    if 'Ramabai Ambedkar Nagar' in location:
        return 'others'
    elif 'Anushakti Nagar' in location:
        return 'others'
    elif 'Saphale' in location:
        return 'others'
    elif 'Fort' in location:
        return 'others'
    elif 'Mankhurd' in location:
        return 'others'
    elif 'Dharamveer Nagar' in location:
        return 'others'
    elif 'Asalpha' in location:
        return 'others'
    elif 'Kalbadevi' in location:
        return 'others'
    elif 'Jacob Circle' in location:
        return 'others'
    elif 'Makane Kapase' in location:
        return 'others'
    elif 'Ghodbander' in location:
        return 'others'
    elif 'Uttan' in location:
        return 'others'
    elif 'Umerkhadi' in location:
        return 'others'
    elif 'Nagpada' in location:
        return 'others'
    elif 'Trombay' in location:
        return 'others'
    elif 'Juhu' in location:
        return 'Santacruz West'
    elif 'Gamdevi' in location:
        return 'others'
    elif 'Chinchpokli' in location:
        return 'others'
    elif 'Mira Road West' in location:
        return 'others'
    elif 'Khar East' in location:
        return 'others'
    else:
        return location

In [468]:
location1 = df['location'].apply(replace_location_name)
df.insert(5,'location1',location1)

In [469]:
df.head()

,flat_type,price,flat_price,address,location,location1,buildup_area,avg_price_sqft,age_of_property,possesion_status,which_floor,facing,furnicing,project_name,brokrage,carpet_area,bedrooms,bathrooms,balcony,parking,about_property
0,3 BHK Flat,3.95 Cr,3.95,"Runwal Forest Tower 5 To 8, Kanjurmarg West, M...",Kanjurmarg West,Kanjurmarg West,1550 sq.ft,₹25.48 K/sq.ft,3 Year Old,Ready to move,Higherof 50 floors,Fully Furnished,NaN,Runwal Forest Tower 5 To 8,4.0 LacsAccess Zero Brokerage Properties,1130 sq.ft,3,2,1,2 Covered Parking,Exclusive 3 bhk with 3 bathroom apartment ava...
1,1 BHK Flat,19.0 L,0.19,"Ananta Vardhman Nagar, Tembhode, Palghar, Mumbai",Palghar,Palghar,630 sq.ft,₹3.02 K/sq.ft,3 Year Old,Ready to move,Middleof 4 floors,Unfurnished,NaN,Ananta Vardhman Nagar,No ChargeAccess Zero Brokerage Properties,390 sq.ft,1,1,2,1 Open Parking,"1 BHK Flat for sale in Palghar, Mumbai - conta..."
2,1 BHK Flat,73.0 L,0.73,"JP North Barcelona, Kashimira, Mira Road East,...",Mira Road East,Mira Road East,580 sq.ft,₹12.59 K/sq.ft,1 Years Old,Ready to move,Lowerof 25 floors,Semi Furnished,NaN,JP North Barcelona,1.5 LacsAccess Zero Brokerage Properties,475 sq.ft,1,2,2,No Parking,1 BHK Flat for sale in Mumbai. This property i...
3,1 BHK Flat,1.1 Cr,1.10,"Chandak Nischay, Ambawadi, Dahisar East, Mumbai",Dahisar East,Dahisar East,410 sq.ft,₹26.83 K/sq.ft,1 Years Old,Ready to move,Higherof 35 floors,Semi Furnished,NaN,Chandak Nischay,1.1 LacsAccess Zero Brokerage Properties,368 sq.ft,1,2,1,2 Covered Parking,Check out this 1 BHK Flat for sale in Dahisar ...
4,3 BHK Flat,2.25 Cr,2.25,"Neelam Solstice Phase I, Nalanda Nagar, Ramaba...",Ramabai Ambedkar Nagar,others,1052 sq.ft,₹21.39 K/sq.ft,1 Years Old,Ready to move,Lowerof 26 floors,Semi Furnished,NaN,Neelam Solstice Phase I,2.1 LacsAccess Zero Brokerage Properties,915 sq.ft,3,2,3,1 Covered Parking,"Situated in ghatkopar east, central mumbai sub..."

In [470]:
df['buildup_area'].value_counts().sample(10)

buildup_area
325 sq.ft      2
1277 sq.ft     1
826 sq.ft      1
926 sq.ft      1
663 sq.ft      6
332 sq.ft      1
696 sq.ft     10
747 sq.ft      3
1932 sq.ft     1
595 sq.ft     35
Name: count, dtype: int64

In [471]:
# extract the buildup area
buildupArea_sqft = df['buildup_area'].str.split(" ").str[0]

In [472]:
# insert the buildup area
df.insert(7,'buildupArea_sqft',buildupArea_sqft)

In [473]:
df.head(3)

,flat_type,price,flat_price,address,location,location1,buildup_area,buildupArea_sqft,avg_price_sqft,age_of_property,possesion_status,which_floor,facing,furnicing,project_name,brokrage,carpet_area,bedrooms,bathrooms,balcony,parking,about_property
0,3 BHK Flat,3.95 Cr,3.95,"Runwal Forest Tower 5 To 8, Kanjurmarg West, M...",Kanjurmarg West,Kanjurmarg West,1550 sq.ft,1550,₹25.48 K/sq.ft,3 Year Old,Ready to move,Higherof 50 floors,Fully Furnished,NaN,Runwal Forest Tower 5 To 8,4.0 LacsAccess Zero Brokerage Properties,1130 sq.ft,3,2,1,2 Covered Parking,Exclusive 3 bhk with 3 bathroom apartment ava...
1,1 BHK Flat,19.0 L,0.19,"Ananta Vardhman Nagar, Tembhode, Palghar, Mumbai",Palghar,Palghar,630 sq.ft,630,₹3.02 K/sq.ft,3 Year Old,Ready to move,Middleof 4 floors,Unfurnished,NaN,Ananta Vardhman Nagar,No ChargeAccess Zero Brokerage Properties,390 sq.ft,1,1,2,1 Open Parking,"1 BHK Flat for sale in Palghar, Mumbai - conta..."
2,1 BHK Flat,73.0 L,0.73,"JP North Barcelona, Kashimira, Mira Road East,...",Mira Road East,Mira Road East,580 sq.ft,580,₹12.59 K/sq.ft,1 Years Old,Ready to move,Lowerof 25 floors,Semi Furnished,NaN,JP North Barcelona,1.5 LacsAccess Zero Brokerage Properties,475 sq.ft,1,2,2,No Parking,1 BHK Flat for sale in Mumbai. This property i...

In [474]:
df['avg_price_sqft'].value_counts().sample(10)

avg_price_sqft
₹46.62 K/sq.ft     1
₹8.92 K/sq.ft      3
₹30.70 K/sq.ft     1
₹34.07 K/sq.ft     2
₹32.79 K/sq.ft     5
₹6.34 K/sq.ft      1
₹39.27 K/sq.ft     1
₹21.38 K/sq.ft     3
₹9.43 K/sq.ft      1
₹25 K/sq.ft       76
Name: count, dtype: int64

In [475]:
# avg price sqft in thousands
avg_price_in_thousands = (df['avg_price_sqft'].str.replace('₹','').str.strip().str.split(" ").str[0].astype('float'))*1000
df.insert(9,'avg_price_thousands', avg_price_in_thousands)

In [476]:
pd.set_option('display.max_columns',None)

In [477]:
df.sample(5)

,flat_type,price,flat_price,address,location,location1,buildup_area,buildupArea_sqft,avg_price_sqft,avg_price_thousands,age_of_property,possesion_status,which_floor,facing,furnicing,project_name,brokrage,carpet_area,bedrooms,bathrooms,balcony,parking,about_property
3946,4 BHK Flat,6.0 Cr,6.00,"Sunshine Infinity, Matunga East, Mumbai",Matunga East,Matunga East,1670 sq.ft,1670,₹35.93 K/sq.ft,35930.0,2 Year Old,Ready to move,Middleof 32 floors,NaN,NaN,Sunshine Infinity,No ChargeAccess Zero Brokerage Properties,1670 sq.ft,4,4,4,2 Covered Parking,"A 4 BHK Flat for sale in Matunga, Mumbai. Post..."
6286,2 BHK Flat,1.83 Cr,1.83,"Ajmera Bhakti Park, Bhakti Park, Wadala East, ...",Wadala East,Wadala East,955 sq.ft,955,₹19.16 K/sq.ft,19160.0,8 Year Old,Ready to move,Higherof 18 floors,Semi Furnished,NaN,Ajmera Bhakti Park,1.8 LacsAccess Zero Brokerage Properties,710 sq.ft,2,2,No Balcony,1 Covered Parking,An elegant 2 BHK Apartment of 955 Sq.Ft is ava...
6989,2 BHK Flat,95.0 L,0.95,"Evershine Woods, Chandan Shanti, Mira Road Eas...",Mira Road East,Mira Road East,1050 sq.ft,1050,₹9.05 K/sq.ft,9050.0,10 Year Old,Ready to move,Lowerof 7 floors,Fully Furnished,NaN,Evershine Woods,1.5 Lacs(Negotiable)Access Zero Brokerage Prop...,890 sq.ft,2,2,3,1 Open Parking,"A 2 BHK Flat for sale in Mira Bhayandar, Mumba..."
922,2 BHK Flat,51.0 L,0.51,"Rustomjee Virar Avenue L1 L2 And L4 Wing G, Vi...",Virar West,Virar West,850 sq.ft,850,₹6 K/sq.ft,6000.0,Ready to move,East facing,East facingFacing,NaN,NaN,Rustomjee Virar Avenue L1 L2 And L4 Wing G,No ChargeAccess Zero Brokerage Properties,512 sq.ft,2,2,2,No Parking,"Property for sale in Virar West, Mumbai. This ..."
7924,3 BHK Flat,90.0 L,0.90,"Poonam Park View Phase I, Global City, Virar W...",Virar West,Virar West,1250 sq.ft,1250,₹7.20 K/sq.ft,7200.0,5 Year Old,Ready to move,Higherof 14 floors,Semi Furnished,NaN,Poonam Park View Phase I,1.8 LacsAccess Zero Brokerage Properties,850 sq.ft,3,3,3,1 Open Parking,Looking for a 3 BHK Flat for sale in Mumbai? Y...

In [478]:
df['age_of_property'].value_counts()

age_of_property
1 Years Old      1704
5 Year Old       1284
10 Year Old       944
2 Year Old        756
Ready to move     716
15 Year Old       629
3 Year Old        609
4 Year Old        503
20 Year Old       378
8 Year Old        373
7 Year Old        344
12 Year Old       324
6 Year Old        289
9 Year Old        148
25 Year Old       145
30 Year Old        83
18 Year Old        78
1 BHK              62
2 BHK              61
14 Year Old        57
16 Year Old        38
13 Year Old        37
3 BHK              37
40 Year Old        34
11 Year Old        32
17 Year Old        23
22 Year Old        22
35 Year Old        21
4 BHK              16
23 Year Old        14
19 Year Old        14
50 Year Old        10
45 Year Old         8
26 Year Old         6
28 Year Old         5
21 Year Old         5
38 Year Old         5
24 Year Old         4
31 Year Old         3
42 Year Old         3
32 Year Old         3
29 Year Old         2
52 Year Old         2
60 Year Old         2
5 BHK               1
99 Year Old         1
53 Year Old         1
48 Year Old         1
41 Year Old         1
71 Year Old         1
80 Year Old         1
36 Year Old         1
27 Year Old         1
37 Year Old         1
Name: count, dtype: int64

In [479]:
# creating temp df
df[df['age_of_property'] == 'Ready to move']

,flat_type,price,flat_price,address,location,location1,buildup_area,buildupArea_sqft,avg_price_sqft,avg_price_thousands,age_of_property,possesion_status,which_floor,facing,furnicing,project_name,brokrage,carpet_area,bedrooms,bathrooms,balcony,parking,about_property
11,2 BHK Flat,2.2 Cr,2.20,"Piramal Revanta Tower 1, P&T Staff Colony, Mul...",Mulund West,Mulund West,999 sq.ft,999,₹22.02 K/sq.ft,22020.0,Ready to move,East facing,East facingFacing,NaN,NaN,Piramal Revanta Tower 1,2.2 LacsAccess Zero Brokerage Properties,780 sq.ft,2,2,No Balcony,1 Covered Parking,Its a 2 BHK Spacious Apartment comes with all ...
18,2 BHK Flat,2.25 Cr,2.25,"Piramal Revanta Tower 1, P&T Staff Colony, Mul...",Mulund West,Mulund West,1044 sq.ft,1044,₹21.55 K/sq.ft,21550.0,Ready to move,South facing,South facingFacing,NaN,NaN,Piramal Revanta Tower 1,2.3 LacsAccess Zero Brokerage Properties,894 sq.ft,2,2,No Balcony,2 Covered and 1 Open Parking,Piramal Revanta is a luxury property in Mulund...
29,1 BHK Flat,60.41 L,0.60,"Umiya Oasis, Kashimira, Mira Road East, Mumbai",Mira Road East,Mira Road East,715 sq.ft,715,₹8.45 K/sq.ft,8450.0,Ready to move,South facing,South facingFacing,NaN,NaN,Umiya Oasis,No ChargeAccess Zero Brokerage Properties,490 sq.ft,1,2,3,1 Open Parking,"1 BHK Flat for sale in Mira Bhayandar, Mumbai ..."
44,2 BHK Flat,1.04 Cr,1.04,"Raj Heritage 2, Shivar Garden, Mira Road East,...",Mira Road East,Mira Road East,825 sq.ft,825,₹12.61 K/sq.ft,12610.0,Ready to move,East facing,East facingFacing,NaN,NaN,Raj Heritage 2,No ChargeAccess Zero Brokerage Properties,426 sq.ft,2,2,3,2 Open Parking,"A 2 BHK Flat for sale in Mira Bhayandar, Mumba..."
65,3 BHK Flat,7.2 Cr,7.20,"Kabra Primera, Nutan Laxmi Colony, Juhu, Mumbai",Juhu,Santacruz West,1600 sq.ft,1600,₹45 K/sq.ft,45000.0,Ready to move,West facing,West facingFacing,NaN,NaN,Kabra Primera,7.2 LacsAccess Zero Brokerage Properties,1250 sq.ft,3,3,1,2 Covered Parking,3bhk with a nice deck in the living room and a...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9923,1 BHK Flat,1.05 Cr,1.05,"Chinchpada, Borivali East, Mumbai",Borivali East,Borivali East,635 sq.ft,635,₹16.54 K/sq.ft,16540.0,Ready to move,North-West facing,North-West facingFacing,NaN,NaN,No ChargeAccess Zero Brokerage Properties,1.05 Cr,1,2,2,More than a month ago,1 Open Parking,"1 BHK Flat for sale in Borivali East, Mumbai w..."
9927,1 BHK Flat,1.1 Cr,1.10,"Navneeth Colony, Andheri West, Mumbai",Andheri West,Andheri West,550 sq.ft,550,₹20 K/sq.ft,20000.0,Ready to move,North-West facing,North-West facingFacing,NaN,NaN,No ChargeAccess Zero Brokerage Properties,1.1 Cr,1,1,1,More than a month ago,1 Open Parking,Property is 10 - 15 mins walk from Andheri wes...
9945,1 BHK Flat,1.15 Cr,1.15,"Neelam Solstice Phase I, Nalanda Nagar, Ramaba...",Ramabai Ambedkar Nagar,others,750 sq.ft,750,₹15.33 K/sq.ft,15330.0,Ready to move,North-West facing,North-West facingFacing,NaN,NaN,Neelam Solstice Phase I,No ChargeAccess Zero Brokerage Properties,437 sq.ft,1,1,2,No Parking,1 BHK Flat for sale in Mumbai. This property i...
9951,1 BHK Flat,97.0 L,0.97,"Gokuldham tardeo, Gowalia Tank, Tardeo, Mumbai",Tardeo,Tardeo,315 sq.ft,315,₹30.79 K/sq.ft,30790.0,Ready to move,North-West facing,Semi FurnishedFurnishing,NaN,NaN,No ChargeAccess Zero Brokerage Properties,97.0 L,1,1,No Balcony,More than a month ago,1 Open Parking,"1 BHK Flat for sale in Tardeo, Mumbai with mod..."
9955,1 BHK Flat,90.0 L,0.90,"Angan, Rahul Nagar, Mulund West, Mumbai",Mulund West,Mulund West,500 sq.ft,500,₹18 K/sq.ft,18000.0,Ready to move,North-West facing,North-West facingFacing,NaN,NaN,No ChargeAccess Zero Brokerage Properties,90.0 L,1,1,-,13 days ago,-,"A 1 BHK Flat for sale in Mulund West, Mumbai. ..."

In [484]:
df['age_of_property'] = df['age_of_property'].replace('Ready to move','unknown')

In [485]:
df['age_of_property'].value_counts()

age_of_property
1 Years Old    1704
5 Year Old     1284
10 Year Old     944
2 Year Old      756
unknown         716
15 Year Old     629
3 Year Old      609
4 Year Old      503
20 Year Old     378
8 Year Old      373
7 Year Old      344
12 Year Old     324
6 Year Old      289
9 Year Old      148
25 Year Old     145
30 Year Old      83
18 Year Old      78
1 BHK            62
2 BHK            61
14 Year Old      57
16 Year Old      38
13 Year Old      37
3 BHK            37
40 Year Old      34
11 Year Old      32
17 Year Old      23
22 Year Old      22
35 Year Old      21
4 BHK            16
23 Year Old      14
19 Year Old      14
50 Year Old      10
45 Year Old       8
26 Year Old       6
28 Year Old       5
21 Year Old       5
38 Year Old       5
24 Year Old       4
31 Year Old       3
42 Year Old       3
32 Year Old       3
29 Year Old       2
52 Year Old       2
60 Year Old       2
5 BHK             1
99 Year Old       1
53 Year Old       1
48 Year Old       1
41 Year Old       1
71 Year Old       1
80 Year Old       1
36 Year Old       1
27 Year Old       1
37 Year Old       1
Name: count, dtype: int64

In [189]:
df['age_of_property'].unique()

array(['3 Year Old', '1 Years Old', '4 Year Old', '2 Year Old', None,
       '2 BHK', '3 BHK', '1 BHK', '4 BHK', '15 Year Old', '10 Year Old',
       '30 Year Old', '7 Year Old', '12 Year Old', '5 Year Old',
       '20 Year Old', '8 Year Old', '9 Year Old', '22 Year Old',
       '25 Year Old', '17 Year Old', '6 Year Old', '11 Year Old',
       '16 Year Old', '13 Year Old', '18 Year Old', '27 Year Old',
       '14 Year Old', '35 Year Old', '40 Year Old', '23 Year Old',
       '19 Year Old', '45 Year Old', '21 Year Old', '24 Year Old',
       '50 Year Old', '31 Year Old', '26 Year Old', '52 Year Old',
       '42 Year Old', '28 Year Old', '60 Year Old', '32 Year Old',
       '36 Year Old', '48 Year Old', '80 Year Old', '71 Year Old',
       '41 Year Old', '29 Year Old', '53 Year Old', '38 Year Old',
       '99 Year Old', '5 BHK', '37 Year Old'], dtype=object)

In [486]:
new_age = df['age_of_property'].str.replace('1 BHK',"unknown").str.replace('2 BHK','unknown').str.replace('3 BHK','unknown').str.replace('4 BHK','unknown').str.replace('5 BHK','unknown')
df.insert(11,'new_age',new_age)

In [487]:
df['new_age'] = df['new_age'].str.split(" ").str[0]

In [488]:
df.head(3)

,flat_type,price,flat_price,address,location,location1,buildup_area,buildupArea_sqft,avg_price_sqft,avg_price_thousands,age_of_property,new_age,possesion_status,which_floor,facing,furnicing,project_name,brokrage,carpet_area,bedrooms,bathrooms,balcony,parking,about_property
0,3 BHK Flat,3.95 Cr,3.95,"Runwal Forest Tower 5 To 8, Kanjurmarg West, M...",Kanjurmarg West,Kanjurmarg West,1550 sq.ft,1550,₹25.48 K/sq.ft,25480.0,3 Year Old,3,Ready to move,Higherof 50 floors,Fully Furnished,NaN,Runwal Forest Tower 5 To 8,4.0 LacsAccess Zero Brokerage Properties,1130 sq.ft,3,2,1,2 Covered Parking,Exclusive 3 bhk with 3 bathroom apartment ava...
1,1 BHK Flat,19.0 L,0.19,"Ananta Vardhman Nagar, Tembhode, Palghar, Mumbai",Palghar,Palghar,630 sq.ft,630,₹3.02 K/sq.ft,3020.0,3 Year Old,3,Ready to move,Middleof 4 floors,Unfurnished,NaN,Ananta Vardhman Nagar,No ChargeAccess Zero Brokerage Properties,390 sq.ft,1,1,2,1 Open Parking,"1 BHK Flat for sale in Palghar, Mumbai - conta..."
2,1 BHK Flat,73.0 L,0.73,"JP North Barcelona, Kashimira, Mira Road East,...",Mira Road East,Mira Road East,580 sq.ft,580,₹12.59 K/sq.ft,12590.0,1 Years Old,1,Ready to move,Lowerof 25 floors,Semi Furnished,NaN,JP North Barcelona,1.5 LacsAccess Zero Brokerage Properties,475 sq.ft,1,2,2,No Parking,1 BHK Flat for sale in Mumbai. This property i...

In [489]:
temp = df[df['which_floor'] == 'Unfurnished']

In [490]:
x = temp.iloc[:,13:16].shift(1,axis=1).values

In [491]:
df.loc[temp.index,temp.columns[13:16]] = x

In [492]:
temp1 = df[df['which_floor'] == 'Semi FurnishedFurnishing']

In [493]:
y = temp1.iloc[:,13:16].shift(1,axis=1).values

In [494]:
df.loc[temp1.index,temp1.columns[13:16]] = y

In [495]:
temp2 = df[df['which_floor'] == 'Semi Furnished']

In [496]:
z = temp2.iloc[:,13:16].shift(1,axis=1).values

In [497]:
df.loc[temp2.index,temp2.columns[13:16]] = z

In [499]:
df['which_floor'] = df['which_floor'].replace('South facing','unknown')

In [500]:
df['which_floor'] = df['which_floor'].replace('East facing','unknown')

In [501]:
temp = df[df['which_floor'] == 'UnfurnishedFurnishing']

In [502]:
x = temp.iloc[:,13:15].shift(1,axis=1).values

In [503]:
df.loc[temp.index,temp.columns[13:15]] = x

In [504]:
df['which_floor'] = df['which_floor'].replace('1stof 2 floors','unknown')
df['which_floor'] = df['which_floor'].replace('12th Oct, 2023Possession status','unknown')
df['which_floor'] = df['which_floor'].replace('Ground Floorof 2 floors','unknown')
df['which_floor'] = df['which_floor'].replace('12th Oct, 2023Possession status','unknown')

In [505]:
temp = df[df['which_floor'] == 'Fully Furnished']
x = temp.iloc[:,13:15].shift(1,axis=1).values
df.loc[temp.index,temp.columns[13:15]] = x

In [506]:
temp = df[df['which_floor'] == 'Fully FurnishedFurnishing']
x = temp.iloc[:,13:15].shift(1,axis=1).values
df.loc[temp.index,temp.columns[13:15]] = x

In [507]:
df['which_floor'] = df['which_floor'].replace('South-West facing','unknown')
df['which_floor'] = df['which_floor'].replace('North-East facingFacing','unknown')
df['which_floor'] = df['which_floor'].replace('West facing','unknown')
df['which_floor'] = df['which_floor'].replace('North-West facingFacing','unknown')
df['which_floor'] = df['which_floor'].replace('South-West facing','unknown')
df['which_floor'] = df['which_floor'].replace('South-East facing','unknown')
df['which_floor'] = df['which_floor'].replace('North-West facing','unknown')
df['which_floor'] = df['which_floor'].replace('North facing','unknown')

In [518]:
df['which_floor'] = df['which_floor'].replace('South-West facingFacing','unknown')

In [543]:
df['which_floor'] = df['which_floor'].replace('South-East facingFacing','unknown')

In [548]:
df['which_floor'] = df['which_floor'].replace('South facingFacing','unknown')

In [561]:
df['which_floor'] = df['which_floor'].replace('West facingFacing','unknown')

In [573]:
df['which_floor'] = df['which_floor'].replace('East facingFacing','unknown')

In [595]:
df['which_floor'] = df['which_floor'].replace('North facingFacing','unknown')

In [652]:
df['which_floor'].value_counts().sample(20)

which_floor
Lowerof 35 floors      21
Higherof 27 floors     15
Lowerof 24 floors      28
Lowerof 22 floors     152
Lowerof 70 floors       2
Higherof 48 floors      8
Higherof 37 floors     13
Higherof 20 floors    141
Lowerof 37 floors       8
Higherof 32 floors     14
Higherof 62 floors      1
Higherof 56 floors      2
Higherof 24 floors     22
Middleof 49 floors      1
Middleof 3 floors      20
Higherof 77 floors      6
Lowerof 42 floors      14
Middleof 73 floors      2
Higherof 2 floors      12
Lowerof 54 floors       3
Name: count, dtype: int64

In [653]:
df['facing'].value_counts()

facing
Semi Furnished               3628
Unfurnished                  3168
Fully Furnished              1083
UnfurnishedFurnishing          49
Semi FurnishedFurnishing       48
Fully FurnishedFurnishing      30
East facing                     1
Name: count, dtype: int64

In [654]:
a = df[df['facing'] == 'East facing'].index
df.drop(index=a,inplace=True)

In [655]:
df['facing'].value_counts()

facing
Semi Furnished               3628
Unfurnished                  3168
Fully Furnished              1083
UnfurnishedFurnishing          49
Semi FurnishedFurnishing       48
Fully FurnishedFurnishing      30
Name: count, dtype: int64

In [656]:
df['facing'] = df['facing'].str.replace('Fully FurnishedFurnishing','Fully Furnished').str.replace('Semi FurnishedFurnishing','Semi Furnished').str.replace('UnfurnishedFurnishing','Unfurnished')

In [657]:
df['facing'].value_counts()

facing
Semi Furnished     3676
Unfurnished        3217
Fully Furnished    1113
Name: count, dtype: int64

In [659]:
df.drop(columns=['possesion_status'],inplace=True)

In [663]:
df['furnicing'].isnull().sum()

9842

In [664]:
df.drop(columns=['furnicing'],inplace=True)

In [672]:
temp_df = df.iloc[:,14:]

In [686]:
temp1 = temp_df[temp_df['bathrooms'] == 'No Balcony']

In [692]:
x = temp1.iloc[:,0:6].shift(1,axis=1).values

In [703]:
df.loc[temp1.index,df.columns[14:20]] = x

In [707]:
df.rename(columns={'facing':'furnishing'},inplace=True)

In [708]:
df.to_csv('mumbai_flats_cleaned1.csv',index=False)