In [1]:
import pandas as pd
import numpy as np

In [17]:
df = pd.read_csv('mumbai_flats_cleaned_v3.csv')

In [18]:
df

,flat_type,flat_price,location1,buildupArea_sqft,avg_price_thousands,age_of_property,new_age,which_floor,furnishing,bedrooms,bathrooms,balcony,parking
0,3 BHK Flat,3.95,Kanjurmarg West,1550,25480.0,3 Year Old,3,Higherof 50 floors,Fully Furnished,3,2,1.0,yes
1,1 BHK Flat,0.19,Palghar,630,3020.0,3 Year Old,3,Middleof 4 floors,Unfurnished,1,1,2.0,yes
2,1 BHK Flat,0.73,Mira Road East,580,12590.0,1 Years Old,1,Lowerof 25 floors,Semi Furnished,1,2,2.0,no
3,1 BHK Flat,1.10,Dahisar East,410,26830.0,1 Years Old,1,Higherof 35 floors,Semi Furnished,1,2,1.0,yes
4,3 BHK Flat,2.25,others,1052,21390.0,1 Years Old,1,Lowerof 26 floors,Semi Furnished,3,2,3.0,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9504,3 BHK Flat,2.60,Mulund West,886,29340.0,20 Year Old,20,Higherof 28 floors,Fully Furnished,3,3,0.0,yes
9505,1 BHK Flat,1.15,others,750,15330.0,unknown,unknown,unknown,NaN,1,1,2.0,no
9506,2 BHK Flat,0.65,Mira Road East,625,10400.0,20 Year Old,20,Lowerof 4 floors,Semi Furnished,2,2,0.0,no
9507,1 BHK Flat,0.20,Naigaon East,280,7140.0,10 Year Old,10,Lowerof 7 floors,Semi Furnished,1,1,0.0,no
9508,1 BHK Flat,0.97,Tardeo,315,30790.0,unknown,unknown,NaN,Semi Furnished,1,1,0.0,yes

In [19]:
df.shape

(9509, 13)

In [20]:
df.isnull().sum()

flat_type                 0
flat_price                0
location1                 0
buildupArea_sqft          0
avg_price_thousands       0
age_of_property           0
new_age                   0
which_floor             142
furnishing             1704
bedrooms                  0
bathrooms                 0
balcony                1426
parking                   0
dtype: int64

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9509 entries, 0 to 9508
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   flat_type            9509 non-null   object
 1   flat_price           9509 non-null   float64
 2   location1            9509 non-null   object
 3   buildupArea_sqft     9509 non-null   int64
 4   avg_price_thousands  9509 non-null   float64
 5   age_of_property      9509 non-null   object
 6   new_age              9509 non-null   object
 7   which_floor          9367 non-null   object
 8   furnishing           7805 non-null   object
 9   bedrooms             9509 non-null   int64
 10  bathrooms            9509 non-null   int64
 11  balcony              8083 non-null   float64
 12  parking              9509 non-null   object
dtypes: float64(3), int64(3), object(7)
memory usage: 965.9+ KB

In [12]:
df['new_age'].value_counts()

new_age
1          1686
5          1250
10          917
unknown     842
2           747
15          611
3           590
4           492
8           364
20          363
7           339
12          297
6           281
9           147
25          143
30           81
18           77
14           54
16           38
13           37
40           33
11           32
17           23
22           20
35           19
23           13
19           11
50            9
45            7
26            6
21            5
38            5
24            4
28            4
32            3
31            3
42            3
60            2
52            2
29            2
99            1
41            1
53            1
27            1
71            1
80            1
48            1
36            1
37            1
Name: count, dtype: int64

In [14]:
df[df['new_age'] == 'unknown']

,flat_type,flat_price,location1,buildupArea_sqft,avg_price_thousands,age_of_property,new_age,which_floor,furnishing,bedrooms,bathrooms,balcony,parking
11,2 BHK Flat,2.20,Mulund West,999,22020.0,unknown,unknown,unknown,NaN,2,2,0.0,yes
17,2 BHK Flat,2.04,Mulund West,778,26220.0,2 BHK,unknown,Higherof 58 floors,Unfurnished,2,2,1.0,yes
18,2 BHK Flat,2.25,Mulund West,1044,21550.0,unknown,unknown,unknown,NaN,2,2,0.0,yes
29,1 BHK Flat,0.60,Mira Road East,715,8450.0,unknown,unknown,unknown,NaN,1,2,3.0,yes
43,2 BHK Flat,1.04,Mira Road East,825,12610.0,unknown,unknown,unknown,NaN,2,2,3.0,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9552,1 BHK Flat,1.10,Andheri West,550,20000.0,unknown,unknown,unknown,NaN,1,1,NaN,yes
9553,1 BHK Flat,1.40,Kandivali West,765,18300.0,1 BHK,unknown,Middleof 46 floors,Unfurnished,1,2,2.0,yes
9554,1 BHK Flat,0.85,Vikhroli East,450,18890.0,1 BHK,unknown,Lowerof 23 floors,Semi Furnished,1,2,0.0,yes
9566,1 BHK Flat,1.15,others,750,15330.0,unknown,unknown,unknown,NaN,1,1,2.0,no
9570,1 BHK Flat,0.97,Tardeo,315,30790.0,unknown,unknown,NaN,Semi Furnished,1,1,0.0,yes

In [16]:
df['which_floor'].value_counts()

which_floor
unknown               585
Higherof 7 floors     504
Middleof 7 floors     384
Middleof 15 floors    302
Middleof 22 floors    276
                     ...
Lowerof 75 floors       1
Middleof 99 floors      1
Higherof 58 floors      1
Higherof 47 floors      1
Middleof 69 floors      1
Name: count, Length: 225, dtype: int64

In [25]:
a = df[(df['new_age'] == 'unknown') & (df['which_floor'] == 'unknown')].index
df.drop(index=a,inplace=True)

In [30]:
b = df[(df['new_age'] == 'unknown') | (df['which_floor'] == 'unknown')].index
df.drop(index=b,inplace=True)

In [44]:
df['new_age'].value_counts()

new_age
1     1675
5     1234
10     904
2      742
15     605
3      589
4      491
8      362
20     354
7      338
12     296
6      281
9      147
25     142
18      77
30      74
14      54
16      38
13      37
40      33
11      32
17      23
22      20
35      19
23      13
19      11
50       8
26       6
45       5
21       5
38       5
28       4
24       4
32       3
42       3
31       3
60       2
52       2
29       2
27       1
36       1
48       1
80       1
71       1
41       1
53       1
99       1
37       1
Name: count, dtype: int64

In [45]:
df['new_age'].isnull().sum()

0

In [51]:
df['new_age'] = df['new_age'].astype(int)

In [54]:
df.drop(columns=['age_of_property'],inplace=True)

In [55]:
df['new_age'].describe()

count    8652.000000
mean        7.527508
std         7.219485
min         1.000000
25%         2.000000
50%         5.000000
75%        10.000000
max        99.000000
Name: new_age, dtype: float64

In [56]:
def age_of_propert(value):
    if value <= 2:
        return 'new construction'
    elif value >2 and value <=10:
        return "recent construction"
    elif value >10 and value <=20:
        return 'modern property'
    elif value >20 and value <=50:
        return 'mid age property'
    else:
        return 'old propert'

In [66]:
age = df['new_age'].apply(age_of_propert)

In [67]:
df.insert(6,'age_of_propert',age)

In [70]:
df['which_floor'].value_counts()

which_floor
Higherof 7 floors     496
Middleof 7 floors     382
Middleof 15 floors    298
Middleof 22 floors    268
Lowerof 7 floors      263
                     ...
Middleof 92 floors      1
Higherof 47 floors      1
Higherof 73 floors      1
Lowerof 75 floors       1
Middleof 69 floors      1
Name: count, Length: 221, dtype: int64

In [ ]:
floor = df['which_floor'].str.split("of").str[0].str.strip()
df.insert(8,'floor_type',floor)

In [82]:
df['furnishing'].value_counts()

furnishing
Semi Furnished     3496
Unfurnished        3040
Fully Furnished    1045
Name: count, dtype: int64

In [83]:
df['furnishing'].isnull().sum()

1071

In [86]:
df['furnishing'].fillna('Semi Furnished',inplace=True)

In [87]:
df['furnishing'].isnull().sum()

0

In [90]:
df['bedrooms'].isnull().sum()

0

In [91]:
df['bedrooms'].value_counts()

bedrooms
2    3225
1    2504
3    2213
4     586
5      93
6      31
Name: count, dtype: int64

In [92]:
df['bathrooms'].value_counts()

bathrooms
2    4796
3    1844
1    1474
4     429
5      86
6      23
Name: count, dtype: int64

In [93]:
df['bathrooms'].isna().sum()

0

In [94]:
df['balcony'].value_counts()

balcony
0.0    4308
1.0    1222
2.0     898
3.0     691
4.0     164
5.0      34
Name: count, dtype: int64

In [95]:
df['balcony'].isna().sum()

1335

In [112]:
df

,flat_type,flat_price,location1,buildupArea_sqft,avg_price_thousands,new_age,age_of_propert,which_floor,floor_type,furnishing,bedrooms,bathrooms,balcony,parking
0,3 BHK Flat,3.95,Kanjurmarg West,1550,25480.0,3,recent construction,Higherof 50 floors,Higher,Fully Furnished,3,2,1.0,yes
1,1 BHK Flat,0.19,Palghar,630,3020.0,3,recent construction,Middleof 4 floors,Middle,Unfurnished,1,1,2.0,yes
2,1 BHK Flat,0.73,Mira Road East,580,12590.0,1,new construction,Lowerof 25 floors,Lower,Semi Furnished,1,2,2.0,no
3,1 BHK Flat,1.10,Dahisar East,410,26830.0,1,new construction,Higherof 35 floors,Higher,Semi Furnished,1,2,1.0,yes
4,3 BHK Flat,2.25,others,1052,21390.0,1,new construction,Lowerof 26 floors,Lower,Semi Furnished,3,2,3.0,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9502,2 BHK Flat,2.25,Chembur,960,23440.0,5,recent construction,Higherof 7 floors,Higher,Semi Furnished,2,2,0.0,yes
9503,3 BHK Flat,2.85,Chembur,865,32950.0,5,recent construction,Higherof 16 floors,Higher,Semi Furnished,3,3,0.0,yes
9504,3 BHK Flat,2.60,Mulund West,886,29340.0,20,modern property,Higherof 28 floors,Higher,Fully Furnished,3,3,0.0,yes
9506,2 BHK Flat,0.65,Mira Road East,625,10400.0,20,modern property,Lowerof 4 floors,Lower,Semi Furnished,2,2,0.0,no
9507,1 BHK Flat,0.20,Naigaon East,280,7140.0,10,recent construction,Lowerof 7 floors,Lower,Semi Furnished,1,1,0.0,no

In [115]:
df[df['flat_type']=='1 BHK Flat']['bedrooms'].value_counts()

bedrooms
1    2474
2     180
Name: count, dtype: int64

In [128]:
a = df[(df['flat_type']=='1 BHK Flat') & (df['bedrooms'] == 2)].index
df.drop(index=a,inplace=True)

In [116]:
df[df['flat_type']=='2 BHK Flat']['bedrooms'].value_counts()

bedrooms
2    3002
1      28
3       8
4       1
Name: count, dtype: int64

In [130]:
a = df[(df['flat_type']=='2 BHK Flat') & (df['bedrooms'] >=3)].index
df.drop(index=a,inplace=True)

In [117]:
df[df['flat_type']=='3 BHK Flat']['bedrooms'].value_counts()

bedrooms
3    2187
2      40
4      29
1       2
5       2
Name: count, dtype: int64

In [133]:
a = df[(df['flat_type']=='3 BHK Flat') & (df['bedrooms'] >= 4)].index
df.drop(index=a,inplace=True)

In [118]:
df[df['flat_type']=='4 BHK Flat']['bedrooms'].value_counts()

bedrooms
4    555
5     38
3     18
2      2
6      2
Name: count, dtype: int64

In [136]:
a = df[(df['flat_type']=='4 BHK Flat') & (df['bedrooms'] >= 5)].index
df.drop(index=a,inplace=True)

In [119]:
df[df['flat_type']=='5 BHK Flat']['bedrooms'].value_counts()

bedrooms
5    52
6     7
2     1
4     1
Name: count, dtype: int64

In [138]:
a = df[(df['flat_type']=='5 BHK Flat') & (df['bedrooms'] >= 6)].index
df.drop(index=a,inplace=True)

In [120]:
df[df['flat_type']=='6 BHK Flat']['bedrooms'].value_counts()

bedrooms
6    22
5     1
Name: count, dtype: int64

In [142]:
df['balcony'].isna().sum()

1068

In [148]:
temp = df[~df['balcony'].isnull()][['bedrooms','bathrooms','balcony']]

In [170]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier

In [171]:
lr = KNeighborsClassifier(n_neighbors=3)
lr.fit(temp.iloc[:,0:2],temp.iloc[:,-1])

KNeighborsClassifier(n_neighbors=3)

In [175]:
a = df[df['balcony'].isnull()][['bedrooms','bathrooms']].values

In [177]:
pr = lr.predict(a)

c:\Users\sanjay\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

In [179]:
x = df[df['balcony'].isnull()][['bedrooms','bathrooms']]
x['pred'] = pr
x

      bedrooms  bathrooms  pred
27           3          1   0.0
36           1          2   1.0
46           1          2   1.0
89           2          2   0.0
93           3          1   0.0
...        ...        ...   ...
9461         1          2   1.0
9467         1          2   1.0
9474         2          1   0.0
9490         1          1   0.0
9499         3          3   1.0

[1068 rows x 3 columns]

In [189]:
df.columns[12]

'balcony'

In [193]:
df.loc[x.index,df.columns[12]] = pr

In [195]:
df['balcony'].value_counts()

balcony
0.0    5190
1.0    1406
2.0     900
3.0     691
4.0     164
5.0      34
Name: count, dtype: int64

In [196]:
df['balcony'].isna().sum()

0

In [198]:
df['balcony'] = df['balcony'].astype(int)

In [201]:
df.drop(columns=['new_age','which_floor'],inplace=True)

In [203]:
df.shape

(8385, 12)

In [204]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8385 entries, 0 to 9507
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   flat_type            8385 non-null   object
 1   flat_price           8385 non-null   float64
 2   location1            8385 non-null   object
 3   buildupArea_sqft     8385 non-null   int64
 4   avg_price_thousands  8385 non-null   float64
 5   age_of_propert       8385 non-null   object
 6   floor_type           8350 non-null   object
 7   furnishing           8385 non-null   object
 8   bedrooms             8385 non-null   int64
 9   bathrooms            8385 non-null   int64
 10  balcony              8385 non-null   int32
 11  parking              8385 non-null   object
dtypes: float64(2), int32(1), int64(3), object(6)
memory usage: 1.1+ MB

In [205]:
df.to_csv('mumbai_flats_cleaned_v4.csv',index=False)